/* styling of the various fonts used in the app*/


/* styling of the main body and a border (padding)*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 5% 20%;
}

/* this focuses on the family font and the size of different headings i.e. h3 or h4*/
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h4{
  font-size: 1.5rem;
  color: rgb(95, 95, 95);
  line-height: 2.5rem;
  margin: 2rem 0rem;
}

h3{
  font-size: 1.5rem;
  color: rgb(95, 95, 95);
  line-height: 2.5rem;
  margin: 2rem 0rem;
}

/* colour used for the writing */
a{
  color: rgb(95, 95, 95);
}
